[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
Django="==4.0.2"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
drf-spectacular = "*"
psycopg2 = "*"
celery = "==4.4.6"

[dev-packages]

[requires]
python_version = "3.8"
